<div id="<%= dom_id recruter %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Agency:</strong>
    <%= recruter.agency_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= recruter.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Linkedin chat url:</strong>
    <%= recruter.linkedin_chat_url %>
  </div>
</div>
